CT_CONFIG_VERSION="4"
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a76+crypto"
CT_ARCH_64=y
CT_TOOLCHAIN_PKGVERSION="systemcoreathome"
CT_TARGET_VENDOR="systemcore"
CT_TOOLCHAIN_CMAKE_TOOLCHAIN_FILE=y
CT_KERNEL_LINUX=y
CT_LINUX_SRC_DEVEL=y
CT_LINUX_DEVEL_URL="https://github.com/raspberrypi/linux.git"
CT_LINUX_DEVEL_REVISION="574ea34cd8bfeea45176471faeb5c3de661823d4"
CT_LINUX_V_6_6=y
CT_BINUTILS_V_2_40=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_SRC_DEVEL=y
CT_GLIBC_DEVEL_REVISION="2.42-51-gcbf39c26b25801e9bc88499b4fd361ac172d4125"
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_BRANCH="releases/gcc-14.3.0"
CT_GCC_V_14=y
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_LIBSANITIZER=y
CT_CC_LANG_CXX=y
CT_CC_LANG_FORTRAN=y
CT_DEBUG_GDB=y
CT_GDB_V_13=y
